/*Navigation*/

#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 0px 8px;
}

/*Home Section*/

#home{
    height: 280px;
    padding: 3px 28px;
}
#home::before{
    height: 400px;
}

#home p{
    font-size: 13px;
}
html{
    scroll-behavior: smooth;
}

/*Services Section*/

#services{
    flex-direction: column;
}
#services.box{
    padding: 14px;
    margin: 2px 0px;
    margin-bottom: 0px;
}
/*Client Section*/

#clients{
    overflow: hidden;
    flex-wrap: wrap;
}
#clients img{
    width: 66px;
    padding: 50px;
}

/*Contact*/

#contact-box form{
    width: 80%;
}

/*Footer*/

#footer{}

/*Utility classes*/

.h-primary{
    font-size: 26px;
}

.btn{
    font-size: 13px;
    padding: 4px 8px;
}